@font-face {
    font-family: 'Omen Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf')
}

@font-face {
    font-family: 'Omen Sans Light';
    src: url('../fonts/OpenSans-Light.ttf')
}

@font-face {
    font-family: 'Omen Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf')
}

@font-face {
    font-family: 'Omen Sans Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf')
}