@import 'fonts.css';

body {
    /*background: gray;*/
    font-family: "Open Sans";
}
/*меню*/
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.menu-bar {
    color: #212121;
    background: #ffffff;
    padding: 50px 0;
}
.menu__item {
    margin-left: 45px;
}
.menu__item a {
    color: #212121;
    font-size: 20px;
    font-family: "Open Sans - Semibold";
} 
.menu__item a:hover {
    text-decoration: none;
    color:#d7e2df;
}
/*header*/
.header > div  {
    padding: 180px 0;
    background-image: url(../img/header.png);
    text-align: center;
    color: white;
    background-color: #000000;
    background-size: cover;
    background-position: 0 90%;
}

.header__title {
    font-size: 55px;
}
.header__text {
    font-size: 20px;
    margin-bottom: 100px;;
}
.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s; /*для плавной анимации*/
    
}
.button_empty {
    background: transparent;
    border: 2px solid white;
}
.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}
.button_empty:hover,
.button_full:hover {
    background: #195852;
}

/*О нас*/
.about {
    text-align: center;
    padding: 125px 0px;
    color: black;
    background: white;
}
.about_title {
    font-size: 30px;
    color: #212121;
    font-weight: 600;
}
.about_text {
    font-size: 15px;
    margin-bottom: 120px;
}
.col-xl-3>img {
    margin-bottom: 40px;
}
.F_h3 {
    font-size: 20px;
    font-family: "Open Sans - Semibold";
}
.about__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
}
/*services*/
.services {
    text-align: center;
    background: #e4fdf9;
    padding: 173px 0 105px 0;
}
.our_card {
    padding: 50px 50px 40px;
    background: white;
    transition: 0.3s;
    margin-bottom: 30px;
}
.our_card:hover {
    background: #00897b;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);   
}
.our_card:hover .services_button {
    border: 1px solid white;
    color: white;
}
.icon {
    font-size: 60px;
    margin-bottom: 38px;
}
.services_button {
    padding: 10px 14px;
    border: 1px solid black;
    font-size: 20px;
    transition: 0.2s;
    color: #000000;
    margin-top: 45px;
    background: transparent; /*прозрачный фон*/
}
.services_button:hover {
    cursor: pointer;
}
.services_h3 {
    font-size: 20px;
    font-weight: 550;
    line-height: 22px;
    letter-spacing: 1px;
}
.services__text {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
}
/*latest-work*/
.latest-work {
    text-align: center;
    padding: 128px 0 136px;
}
.button-work {
    border: 2px solid #00897b;
    background: transparent;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
}
.latest-work button:nth-child(1) {
    padding: 18px 55px;
}
.button-work:hover {
    background: #00897b;
    color: white;
    transition: 0.2s;
}
.latest-work img {
    margin-bottom: 30px;
}
.filter-work {
    padding: 120px 0px;
}
div[filter]:hover img {
    filter: brightness(30%);
    transition: 0.3;
}
.text img:hover {
    filter: brightness(30%);
    transition: 0.3;
}
.text {
    display: none;
}
div[filter]:hover .text{
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}
/*price*/
.price {
    padding: 125px;
    text-align: center;
    background: #f0f0f0;
}
.card_price {
    background: white;
}
.card_price:hover {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
}

.price__head {
    background-image: url(../img/fon-price.png);
    color: #ffffff;
    padding: 40px 0px 68px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 209px;
}
.price__head p {
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.25px;
}
.price__head sup {
    font-size: 25px;
    vertical-align: middle; /*выравнивает текст*/
}
.price__head {
    font-size: 50px;
}
.price__head sub {
    font-size: 17px;
    vertical-align: middle; /*выравнивает текст*/
}
.price__main {
    font-size: 17px;
    color: #212121;
    padding-top: 50px;
}
.price__main ul li  {
    border-bottom: 1px solid #dfdfdf;
    max-width: 170px;
    margin: 0 auto;
    margin-bottom: 35px;
 
}
.price__footer {
    padding-top: 30px;
    color: #212121;
    font-size: 20px;
}
.price__button {
    padding: 12px 42px;
    border: 2px solid black;
    transition: 0.2s;
    background: transparent; /*прозрачный фон*/
    margin-bottom: 60px;
}
.price__button:hover {
    background: #00897b;
    color: white;
    transition: 0.3;
    border: 2px solid #00897b;
}
/*team*/
.team {
    padding: 120px;
    text-align: center;
}
.team img {
    padding-bottom: 38px;
}
.icon-team {
    font-size: 50px;
}
.icon-team i {
    margin-right: 15px;
}
.icon-team a {
    color: #00897b;
}
.icon-team i:hover {
    color: #3949ab;
}
.circle-button {
    background-color: #00897b;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #00897b;
    margin-right: 5px;
    margin-top: 120px;
    cursor: pointer;
}
.circle-button:hover {
    background-color: #3949ab;
}
/*blog*/
.blog {
    background-color: #e4fdf9;
    padding: 125px;
    text-align: center;
}
.left > div:first-child {
    order: 1;
}
.left > div:last-child {
    order: 2;
}
.right > div:first-child {
    order: 2;
}
.right > div:last-child {
    order: 1;
}
.blog-text {
    margin: 60px 0px 0px 20px;
    text-align: left;
}
.span-blog {
    margin: 20px 0px;
}
.blog-text a {
    text-decoration: none;
    color: #212121;
    font-family: "Open Sans - Semibold";
    font-size: 25px;
    letter-spacing: 1.25px;
}
.blog-text a:hover {
    color: #00897b;
}
.blog-text i {
    margin-right: 15px;   
}
.blog-text span {
    color: #212121;
    font-family: "Open Sans - Semibold";
    font-size: 17px;
    font-weight: 550;
    letter-spacing: 0.85px;
}
.blog-text span:last-child {
    margin-left: 40px;
}
.blog-text p {
    color: #212121;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
}
.button-blog {
    border: 2px solid black;
    margin-top: 125px;
    background: transparent;
    padding: 18px 50px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
}
.button-blog:hover {
    color: white;
    background: #00897b;
    border: 2px solid #00897b;
    transition: 0.3s;
}
/*contact*/
.contact {
    padding: 120px;
    color: white;
    background-image: url(../img/footerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.contact h2 {
    color: white;
}
.fa-map-marker-alt, .fa-phone , .fa-envelope {
    font-size: 62px;
    color: #fff;
}
.circle {
    background-color: #3949ab;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.text-footer {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}
.contact input, textarea {
    padding: 30px;
    border-radius: 10px;
    border: none;
    width: 100%;
}
.contact input:focus, textarea:focus ,button:focus {
    outline: none;
}
.contact textarea {
    margin: 30px 0;
    resize: none;
}
.form {
    margin-top: 80px;
}
.contact button {
    color: #212121;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 75px;
    border: none;
    border-radius: 10px;
    background: #fff;
}
.rules {
    text-align: center;
    padding: 22px;
    color: #212121;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
}
