@import 'fonts.css';

body {
    /*background: gray;*/
    font-family: "Open Sans";
}
/*меню*/
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.menu-bar {
    color: #212121;
    background: #ffffff;
    padding: 50px 0;
}
.menu__item {
    margin-left: 45px;
}
.menu__item a {
    color: #212121;
    font-size: 20px;
    font-family: "Open Sans - Semibold";
} 
.menu__item a:hover {
    text-decoration: none;
    color:#d7e2df;
}
/*header*/
.header > div  {
    padding: 180px 0;
    background-image: url(../img/header.png);
    text-align: center;
    color: white;
    background-color: #000000;
    background-size: cover;
    background-position: 0 90%;
}

.header__title {
    font-size: 55px;
}
.header__text {
    font-size: 20px;
    margin-bottom: 100px;;
}
.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s; /*для плавной анимации*/
    
}
.button_empty {
    background: transparent;
    border: 2px solid white;
}
.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}
.button_empty:hover,
.button_full:hover {
    background: #195852;
}

/*О нас*/
.about {
    text-align: center;
    padding: 125px 0px;
    color: black;
    background: white;
}
.about_title {
    font-size: 30px;
    color: #212121;
    font-weight: 600;
}
.about_text {
    font-size: 15px;
    margin-bottom: 120px;
}
.col-xl-3>img {
    margin-bottom: 40px;
}
.F_h3 {
    font-size: 20px;
    font-family: "Open Sans - Semibold";
}
.about__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
}
/*services*/
.services {
    text-align: center;
    background: #e4fdf9;
    padding: 173px 0 105px 0;
}
.our_card {
    padding: 50px 50px 40px;
    background: white;
    transition: 0.3s;
    margin-bottom: 30px;
}
.our_card:hover {
    background: #00897b;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);   
}
.our_card:hover .services_button {
    border: 1px solid white;
    color: white;
}
.icon {
    font-size: 60px;
    margin-bottom: 38px;
}
.services_button {
    padding: 10px 14px;
    border: 1px solid black;
    font-size: 20px;
    transition: 0.2s;
    color: #000000;
    margin-top: 45px;
    background: transparent; /*прозрачный фон*/
}
.services_button:hover {
    cursor: pointer;
}
.services_h3 {
    font-size: 20px;
    font-weight: 550;
    line-height: 22px;
    letter-spacing: 1px;
}
.services__text {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
}
/*latest-work*/
.latest-work {
    text-align: center;
    padding: 128px 0 136px;
}
.button-work {
    border: 2px solid #00897b;
    background: transparent;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20px;
}
.latest-work button:nth-child(1) {
    padding: 18px 55px;
}
.button-work:hover {
    background: #00897b;
    color: white;
    transition: 0.2s;
}
.latest-work img {
    margin-bottom: 30px;
}
.filter-work {
    padding: 120px 0px;
}


